@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

* h1, h2, h4, p, b, small {
  cursor: default;
}

body {
  color: var(--ref-color);
  padding: 1vw 8vw;
  transition: .5s;
}

body::after {
  content: "";
  background: url("../images/bg-night.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transform: scale(1.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*:::::NavBar:::::*/

header {
  margin-top: 2%;
  margin-bottom: 6%;
}

.logoWeb {
  max-width: 5vw;
  min-width: 75px;
  width: 100%;
  height: auto;
  filter: drop-shadow(3px 5px 0.5rem var(--alt-color));
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  filter: drop-shadow(3px 5px 0.5rem var(--alt-color));
}

.navbar ul {
  display: flex;
  align-items: center;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li a {
  display: flex;
  color: var(--ref-color);
  align-items: center;
  margin: 15px;
  text-decoration: none;
}

.navbar li {
  position: relative;
}

.nav-opt {
  cursor: pointer;
}

.nav-opt::before {
  content: "";
  position: absolute;
  bottom: 15px;
  height: 5px;
  width: 0%;
  /* or 100px */
  border-bottom: 2px solid var(--alt-color);
  left: 0px;
  transition: all ease-in-out 0.2s;
}

.nav-opt:hover::before {
  width: 100%;
  /* or 100px */
  transition: 0.6s;
}

.navbar .menu-hamb {
  display: none;
}

.hamburger-menu-hidden {
  display: none;
}

.hamburger-menu-hidden:hover {
  transition: all .5s;
  color: var(--alt-color);
  filter: drop-shadow(0px 0px 0.5rem var(--alt-color));
}

/*:::::Home Section:::::*/

.text-home {
  margin-top: 20%;
  margin-bottom: 25%;
}

.text-home h1 {
  font-size: var(--fz-x);
}

.text-home h4 {
  font-weight: 600;
  color: var(--ref-color);
  font-size: var(--fz-sm);
}

.cont-resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin-top: 4%;
  gap: 1vw;
}

.cont-resume h4 {
  margin-bottom: 1%;
}

.bt-dw {
  display: flex;
  width: max-content;
  background-color: var(--main-color);
  color: var(--ref-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: var(--fz-sm);
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.2s ease-in-out;
}

.bt-dw:hover {
  filter: opacity(0.8);
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 0.2rem var(--alt-color));
}

/*:::::About Me:::::*/

#AboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7.2vw;
}

.cont-text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1rem;
}

.text-about {
  margin-bottom: 20px;
}

.cont-text-about h1 {
  font-size: var(--fz-mx);
}

.cont-text-about h4 {
  font-weight: 500;
  color: var(--ref-color);
  font-size: var(--fz-sm);
}

.profile-cont {
  max-width: 30vw;
  height: auto;
  display: flex;
  justify-content: center;
}


.profile-cont .img-profile {
  border-radius: 4%;
  max-width: 75%;
  height: auto;
}

/*:::::Projects:::::*/

.text-projects {
  display: flex;
  justify-content: center;
  font-size: var(--fz-mx);
  margin-top: 22%;
  margin-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  margin-top: 3.12rem;
  margin-bottom: 1.25rem;
}

.grid-item {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  font-size: .9rem;
  transition: all .7s;
}

.grid-item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transition: all 1s;
}

.grid-item-description {
  padding: 80px;
  position: absolute;
  background-color: #000000ef;
  top: 6.25rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.grid-item:hover .grid-item-description {
  visibility: visible;
  opacity: 1;
  transition: all .5s;
  transform: translateY(-100px);
}

.webname {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  opacity: 0;
  color: var(--alt-color);
  font-size: 1.4vw;
}

.grid-item:hover .webname {
  transition: all .5s;
  opacity: 1;
}

.webdesc {
  margin-bottom: 40px;
  opacity: 0;
  font-size: 0.8vw;
  color: var(--alt-color);
}

.grid-item:hover .webdesc {
  transition: all .5s;
  opacity: 1;
}

.bt-cont {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 20%;
  opacity: 0;
}

.bt-repo {
  cursor: pointer;
  border-radius: 4%;
  display: flex;
  align-items: center;
  margin: auto;
  background: var(--main-color);
  color: var(--ref-color);
  padding: 5px 10px;
  font-family: Poppins, sans-serif;
}

.bt-repo:hover {
  transition: all .5s;
  color: var(--alt-color);
  filter: drop-shadow(0px 0px 0.3rem var(--alt-color));
}

.grid-item:hover .bt-cont {
  transition: all .5s;
  opacity: 1;
}

/*:::::Footer:::::*/

.footer-cont {
  display: flex;
  margin-top: 20%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer-cont .contact-cont {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 45px 0px;
}

.box-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6%;
  margin-bottom: 5%;
}

.box-contact h2 {
  font-size: var(--fz-mx);
  margin-bottom: 60px;
}

.box-contact p {
  display: flex;
  font-weight: 500;
  font-size: var(--fz-sm);
  text-align: center;
}

.box-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5%;
}

.box-social h2 {
  font-size: var(--fz-mx);
  margin-bottom: 60px;
}

.footer-cont .contact-cont .social a {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: var(--main-color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--ref-color-alt);
  transition: .5s;
}

.footer-cont .contact-cont .social a:hover {
  color: var(--alt-color);
  box-shadow: 0 0 5px var(--alt-color);
  text-shadow: 0 0 5px var(--alt-color);
}

.bt-up {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  color: var(--ref-color);
  transition: .5s;
}

.bt-up i {
  color: var(--alt-color);
}

.bt-up:hover {
  transition: all .5s;
  color: var(--alt-color);
  filter: drop-shadow(0px 0px 0.2rem var(--alt-color));
}

/*:::::Variables:::::*/

:root {
  --main-color: rgb(75, 94, 124);
  --alt-color: rgb(255, 244, 140);
  --ref-color: rgb(255, 255, 255);
  --ref-color-alt: rgb(160, 160, 160);
  --fz-sm: 1vw;
  --fz-mx: 2vw;
  --fz-x: 3vw;
}

/*:::::Responsive:::::*/

@media (max-width: 1440px) {

  #AboutMe{
    flex-direction: column;
    text-align: center;
  }
  
  .grid-container {
    padding: 150px;
    grid-template-columns: 1fr;
    gap: 3.12rem;
    margin-top: 3.12rem;
    margin-bottom: 0;
  }

  .cont-text-about {
    margin-left: 0px;
    width: 65%;
}

}

@media (max-width: 1000px) {

  body {
    padding: 20px 20vw;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .menu-hamb {
    display: none;
  }

  .hamburger-menu-hidden {
    display: flex;
  }
}

@media (max-width: 768px) {

  body {
    padding: 20px 5vw;
  }

  .hamburger-menu-hidden li i {
    font-size: 5vw;
  }

  #AboutMe {
    margin: 3vw;
  }
  
  .grid-container {
    margin-top: -3rem;
    padding: 75px;
    gap: 1.5rem;
  }

  .footer-cont {
    margin-top: -40px;
  }

  .contact-cont h2 {
    margin-bottom: 8%;
  }

  .box-final img {
    max-width: 30vw;
    min-width: 75px;
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 5px 0.5rem var(--alt-color));
  }

  .box-final a {
    font-size: var(--fz-mx);
  }

  :root {
    --fz-sm: 2vw;
    --fz-mx: 3vw;
    --fz-x: 4vw;
  }
}